################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FrontEnd/node_modules
/BackEnd/.vs/ChatApp/config
/BackEnd/.vs/ChatApp/DesignTimeBuild
/BackEnd/.vs/ChatApp/FileContentIndex
/BackEnd/.vs/ChatApp/v17
/BackEnd/.vs/ProjectEvaluation
/BackEnd/bin/Debug/net6.0
/BackEnd/obj/Debug/net6.0
